@import "~bootstrap/scss/bootstrap";

img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.card-description{
    max-height: 150px;
    overflow: auto;
}

.card-artist, .card-writers{
    max-height: 50px;
    overflow: auto;
}

div.position-absolute{
    width: 100%;
    bottom: -30px;
/*     left: 50%;
    transform: translateX(-50%); */
}